<!DOCTYPE html>
<html>
  <%- include("temp-1-head.html") %>
  <body class="w3-content w3-border-left w3-border-right">
    <%- include("temp-1-sidebar.html",{title:"OMG"}) %>
    <%- include("temp-1-header.html",{isAuthed:true}) %>
    <%- include("temp-1-overlay.html",{title:"OMG"}) %>
    <div class="w3-main w3-white" style="margin-left:260px">
      <div class="w3-hide-large" style="margin-top:80px"></div>
      <%- include("temp-2-banner.html",{title:"OMG"}) %>
      <%- include("temp-1-main-page.html",{title:"OMG"}) %>
      <hr>
      <%- include("temp-1-contact.html",{title:"OMG"}) %>
      <%- include("temp-1-footer.html",{title:"OMG"}) %>
    </div>
    <%- include("temp-1-subscribe.html",{title:"OMG"}) %>
    <script type="module" src="/js/temp-1-utils.js" defer="async"></script>
    <script type="module" src="/js/temp-1-dash.js" defer="async"></script>
  </body>
</html>
