<main class="main-content">
  <%- include('../../components/navbar.html',{page,ui,user}) %>
  <div class="settings-grid">
    <%- include('numbers-nav-menu.html',{page,ui,user}) %>
    <div class="glass-card">
      <%- include('numbers-test-gap.html',{page,ui,user}) %>
      <%- include('numbers-test-ps.html',{page,ui,user}) %>
      <%- include('numbers-test-mw.html',{page,ui,user}) %>
      <%- include('numbers-test-sim.html',{page,ui,user}) %>
      <%- include('numbers-test-cnr.html',{page,ui,user}) %>
    </div>
  </div>
</main>